<h1>user-Signin</h1>
<form action="/users/create-session" method="post">
    <input type="email" name="email" id="your email">
    <input type="password" name="password" placeholder="enter passsword">
    <input type="submit" value="sign-in">
</form>
