<h1>User-signup</h1>
<form action="/users/create" method="Post">
    <input type="text" name="name" placeholder="yourname">
    <input type="email" name="email" placeholder="your email">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="confirm_password" placeholder="confirm-password">
    <input type="submit" value="Sign-up">
</form>
